* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.topHeader {
    width: 100%;
    height: auto;
    background-color: #212529;
}

.topHeader .row {
    color: #ffffff;
    align-items: center;
    padding: 10px 0;
}

.topContact {
    display: flex;
    align-items: center;
}

.topContact i {
    padding-bottom: 15px;
    margin-left: 10px;
}

.topContact p {
    margin-right: 10px;
}

.mainHeader {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.mainHeader a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: 400;
    font-size: 20px;
}

.mainHeader .container {
    display: flex;
    justify-content: space-between;

}

.mainHeader ul {
    display: flex;
}

.firstDrop {
    position: relative;
    display: inline-block;
}

.dropMenu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 220px;
}

.dropMenu li a {
    display: none;
    margin: 0;
    padding: 5px;

}

.firstDrop:hover .dropMenu {
    display: block;
    background-color: hsla(0, 0%, 100%, 0.97);
    text-align: center;
    border: 1px solid;
    border-radius: 7px;
}

.firstDrop:hover .dropMenu li a {
    display: block;
}

.mainHeader a:hover {
    color: #bca858;
    cursor: pointer;
}

.booknow {
    border: 1px solid black;
    border-radius: 30px;
    width: 140px;
    height: 35px;
    padding: 0 15px;
    margin-right: 100px;
    transition: 1s;
}

.booknow:hover,
.about:hover,
.workview:hover {
    color: #ffffff !important;
    background-color: #bca858;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.homePage {
    background-image: url(./homepage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homePage .row {
    padding: 150px 0;
    width: 600px;
}

.homePage .textMain h2 {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textMainsec {
    padding: 30px;
    font-size: 20px;
}

.about {
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
    transition: 1s;
    display: block;
    margin-left: 150px;
    text-align: center;
    color: black;
    width: 150px;
}

.readPage .row {
    align-items: center;
    height: 80vh;
}

.readText h2 {
    font-size: 50px;
}

.readText p {
    font-size: 25px;
}

.readText {
    position: relative;
}

.readText span {
    position: absolute;
    font-size: 120px;
    color: #bca858;
    line-height: 1;
    transform: translateY(-75%);
    opacity: 0.1;
    font-weight: 600;
    left: 0;
    font-family: "Playfair Display", serif;
}

.dryImg img {
    width: 400px;
    height: 450px;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}

.readTextsec h5 {
    width: 350px;
    font-size: 35px;
    font-weight: 400;
}

.readTextsec p {
    width: 300px;
    font-size: 15px;
    padding: 20px 0;
}

.readTextsec a {
    text-decoration: none;
    color: #ffffff;
    background-color: #bca858;
    border: 1px solid;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 1s;
    margin-left: 60px;
}

.readTextsec a:hover {
    background-color: black;
}

.divider {
    height: 10px;
    width: 1000px;
    color: black;
    margin-left: 320px;
    padding: 50px 0;
}

.heading p {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.box-area {
    border: 1px solid black;
    padding: 40px;
    margin: 0 40px;
}

.akameService {
    height: 60vh;
    font-family: "Playfair Display", serif;
}

.akameService .row {
    justify-content: center
}

.box-area:hover h4 {
    color: #bca858;
    transition: 1s;
}

.box-area:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transition: 1s;
}

.whychooseus {
    background-color: #f6f9f9;
    height: 70vh;
    padding: 80px 0;
    font-family: "Playfair Display", serif;
    position: relative;
}

.whychooseus .row img {
    width: 540px;
    height: 380px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.cover {
    width: 540px;
    height: 380px;
    border-radius: 10px;
    position: absolute;
    top: 110px;
    left: 230px;
    background-color: rgba(0, 0, 0, 0.13);
    z-index: 0;
}

.choose-text i {
    color: #bca858;
    margin-right: 5px;
}

.choose-text li {
    font-size: 20px;
    margin: 20px 0;
}

.choose-text p,
.ourworks p {
    color: #6e6e6e;
    font-size: 20px;
}

.choose-text h1 {
    margin-top: 50px;
}

.ourworks-text {
    padding-top: 60px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.ourworks {
    height: 125vh;
}

.ourworks-text ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}

.ourworks-text ul li {
    margin: 0 20px;
}

.ourworks-text li:hover {
    color: #bca858;
    cursor: pointer;
}

.ourworks-photo {
    display: grid;
}

.ourworks-photo img {
    height: 300px;
    width: 250px;
    padding: 20px 0;
    margin-left: 70px;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}

.item4 {
    grid-column: 3;
    grid-row: 2;
}

.item5 {
    grid-column: 2;
    grid-row: 1/ span 2;
}

.item5 img {
    height: 600px;
    width: 500px;
}

.workview p {
    font-size: 15px;
    color: black;
    padding-top: 5px;
}

.workview {
    text-align: center;
    margin: 50px 580px;
    width: 10vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 20px;
    transition: 1s;
}

.workview:hover p {
    color: #ffffff;
}

.ourexpert {
    position: relative;
    height: 100vh;
}

.expimg {
    background-image: url(./ourexpert.webp);
    background-repeat: no-repeat;
    height: 540px;
    background-position-x: right;
}

.ourexpert::before {
    position: absolute;
    width: 100%;
    height: 70%;
    content: '';
    z-index: -1;
    background-color: #f6f9f9;
}

.exptext {
    font-family: "Playfair Display", serif;
    padding: 100px;
}

.exptext h1 {
    font-size: 50px;
}

.exptext p {
    font-size: 20px;
    color: #6e6e6e;
}

.exptext img {
    margin: 20px;
}

.teambox img {
    width: 250px;
    height: 240px;
}

.teambox h1 {
    font-size: 25px;
}

.teambox p {
    font-size: 15px;
}

.info {
    margin-top: 10px;
    font-family: "Playfair Display", serif;
    margin-left: 50px;
}

.ourexpert {
    position: relative;
}

.teambox {
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 300px;
    margin-bottom: 40px;
}

.team {
    border: 1px solid rgb(186, 181, 181);
}

.team:hover h1 {
    color: #bca858;
    transition: 1s;
}

.latestNews {
    height: 100vh;
    font-family: "Playfair Display", serif;
}

.latestNews span {
    font-size: 20px;
    color: #6e6e6e;
}

.headnews h1 {
    font-size: 50px;
}

.latestNews img {
    margin: 50px 0;
    height: 250px;
    width: 400px;
}

.worktext h1 {
    font-size: 25px;
}

.worktext p {
    color: #6e6e6e;
    margin: 20px 0;
}

.worktext i {
    margin-left: 10px;
}

.worktext p:hover,
.worktext:hover h1 {
    color: #bca858;
    transition: 1s;
}